workflows/gateway/heartbeat.json
{
  "name": "YAOC2 Gateway Heartbeat",
  "_version": "1.2.0",
  "_fix": "v1.1: Rotated secrets to $env, fixed Evolution body, parameterized Telegram URL. v1.2: Added Ghost 404 bounce loop — deactivates then reactivates brain receptionist workflows via n8n API to force webhook registry rebind.",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "9e135bb8-7263-4030-b07b-548e4af453ab"
    },
    {
      "parameters": {
        "url": "http://ngrok:4040/api/tunnels",
        "options": { "timeout": 5000 }
      },
      "name": "Get ngrok Tunnel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [256, 0],
      "id": "3c6d8e4c-789d-4e7c-b7dd-7ec5f3db823f"
    },
    {
      "parameters": {
        "jsCode": "const tunnels = $input.first().json.tunnels ?? [];\nconst https = tunnels.find(t => t.proto === 'https') ?? tunnels[0];\nif (!https) throw new Error('Heartbeat: no ngrok tunnel found. Is the ngrok sidecar running?');\nconst url = https.public_url;\nconsole.log('[Heartbeat] ngrok URL:', url);\nreturn [{ json: { url } }];"
      },
      "name": "Extract URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, 0],
      "id": "501b652a-a171-4970-a487-5ea6c42e86e3"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ ($env.EVOLUTION_URL ?? 'http://evolution-api:8080') + '/webhook/set/' + encodeURIComponent($env.EVOLUTION_INSTANCE_NAME ?? 'n8n claw') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Extract URL').first().json.url + '/webhook/d2cf4a44-47b3-43a3-b3a3-dbc7fdf9b61e', webhook_by_events: false, webhook_base64: false, events: ['MESSAGES_UPSERT', 'MESSAGES_UPDATE', 'CONNECTION_UPDATE'] }) }}",
        "options": { "timeout": 10000 }
      },
      "name": "Update WhatsApp Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [752, -96],
      "id": "f8af95b1-f998-414a-bd74-4413d8d5deae"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/setWebhook' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Extract URL').first().json.url + '/webhook/62b733ec-d504-4701-a675-16645871e72a', allowed_updates: ['message', 'callback_query'] }) }}",
        "options": { "timeout": 10000 }
      },
      "name": "Update Telegram Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [752, 112],
      "id": "ae5a3be3-bbcf-42ab-8809-fa9d267ff52c"
    },
    {
      "parameters": {
        "jsCode": "// Merge both webhook update results and pass one item downstream\nconst wa = (() => { try { return $('Update WhatsApp Webhook').first()?.json; } catch(e) { return { error: e.message }; } })();\nconst tg = (() => { try { return $('Update Telegram Webhook').first()?.json; } catch(e) { return { error: e.message }; } })();\nconsole.log('[Heartbeat] WA update:', JSON.stringify(wa));\nconsole.log('[Heartbeat] TG update:', JSON.stringify(tg));\nreturn [{ json: { webhook_wa: wa, webhook_tg: tg, ngrok_url: $('Extract URL').first().json.url } }];"
      },
      "name": "Merge Webhook Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 0],
      "id": "merge-webhook-results"
    },
    {
      "parameters": {
        "url": "={{ ($env.BRAIN_N8N_URL ?? 'http://192.168.101.168:5678') + '/api/v1/workflows?active=true&limit=50' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-API-KEY", "value": "={{ $env.BRAIN_N8N_API_KEY }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "name": "List Brain Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1264, 0],
      "id": "list-brain-workflows"
    },
    {
      "parameters": {
        "jsCode": "// Find the Multi-Channel Router workflow ID on the brain\n// This is the workflow that holds the live webhook registrations\nconst data = $input.first().json;\nconst workflows = data.data ?? [];\nconst RECEPTIONIST_NAMES = [\n  '[UNIFIED] Multi-Channel Router',\n  'YAOC2 Telegram Receptionist',\n  'YAOC2 WhatsApp Receptionist'\n];\nconst targets = workflows.filter(w =>\n  RECEPTIONIST_NAMES.some(name => w.name?.includes(name) || name.includes(w.name))\n);\nif (targets.length === 0) {\n  // Non-fatal: brain may not have these workflow names, log and skip\n  console.log('[Heartbeat] No receptionist workflows found on brain to bounce. Skipping.');\n  return [{ json: { bounce_ids: [], skipped: true } }];\n}\nconsole.log('[Heartbeat] Bouncing workflows:', targets.map(w => w.name + ' (' + w.id + ')').join(', '));\nreturn [{ json: { bounce_ids: targets.map(w => w.id), skipped: false } }];"
      },
      "name": "Find Receptionist IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 0],
      "id": "find-receptionist-ids"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 3 },
          "combinator": "and",
          "conditions": [{
            "id": "not-skipped",
            "operator": { "type": "boolean", "operation": "false", "singleValue": true },
            "leftValue": "={{ $json.skipped }}"
          }]
        },
        "options": {}
      },
      "name": "Should Bounce?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1776, 0],
      "id": "should-bounce"
    },
    {
      "parameters": {
        "jsCode": "// Deactivate then reactivate each receptionist workflow on the brain\n// This forces n8n to rebind webhook UUIDs in its in-memory registry\nconst brainUrl = $env.BRAIN_N8N_URL ?? 'http://192.168.101.168:5678';\nconst apiKey = $env.BRAIN_N8N_API_KEY;\nif (!apiKey) throw new Error('Heartbeat: BRAIN_N8N_API_KEY not set — cannot bounce workflows');\nconst ids = $input.first().json.bounce_ids ?? [];\nconst results = [];\nfor (const id of ids) {\n  try {\n    // Deactivate\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: `${brainUrl}/api/v1/workflows/${id}`,\n      headers: { 'X-N8N-API-KEY': apiKey, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ active: false })\n    });\n    // Brief pause to let n8n flush the registry\n    await new Promise(r => setTimeout(r, 800));\n    // Reactivate\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: `${brainUrl}/api/v1/workflows/${id}`,\n      headers: { 'X-N8N-API-KEY': apiKey, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ active: true })\n    });\n    results.push({ id, bounced: true });\n    console.log('[Heartbeat] Bounced workflow:', id);\n  } catch(e) {\n    // Non-fatal: log but don't break the heartbeat\n    results.push({ id, bounced: false, error: e.message });\n    console.warn('[Heartbeat] Failed to bounce workflow ' + id + ':', e.message);\n  }\n}\nreturn [{ json: { bounce_results: results, completed_at: new Date().toISOString() } }];"
      },
      "name": "Bounce Receptionist Workflows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2032, 0],
      "id": "bounce-receptionist-workflows"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get ngrok Tunnel", "type": "main", "index": 0 }]] },
    "Get ngrok Tunnel": { "main": [[{ "node": "Extract URL", "type": "main", "index": 0 }]] },
    "Extract URL": {
      "main": [
        [{ "node": "Update WhatsApp Webhook", "type": "main", "index": 0 }],
        [{ "node": "Update Telegram Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Update WhatsApp Webhook": { "main": [[{ "node": "Merge Webhook Results", "type": "main", "index": 0 }]] },
    "Update Telegram Webhook": { "main": [[{ "node": "Merge Webhook Results", "type": "main", "index": 1 }]] },
    "Merge Webhook Results": { "main": [[{ "node": "List Brain Workflows", "type": "main", "index": 0 }]] },
    "List Brain Workflows": { "main": [[{ "node": "Find Receptionist IDs", "type": "main", "index": 0 }]] },
    "Find Receptionist IDs": { "main": [[{ "node": "Should Bounce?", "type": "main", "index": 0 }]] },
    "Should Bounce?": { "main": [[{ "node": "Bounce Receptionist Workflows", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "5388e10f-0ee9-4eb7-896d-08374d811944",
  "meta": { "instanceId": "c8a2709b949a2d6e46ab3c68e4e965bc396c0a55d9206e4fa8ee9927c92b07c8" },
  "id": "vGhbAS9WDfPD40q7",
  "tags": []
}
