workflows/unified/multi-channel-router.json
{
  "name": "[UNIFIED] Multi-Channel Router",
  "_sync_note": "Synced from live brain LXC 2026-03-24. Credential IDs are instance-specific placeholders. TODO: Response Router currently routes directly to reply nodes without calling the Tiered Model Router brain — wire Merge Channels output through tiered-model-router before Response Router.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receptionist",
        "responseMode": "onClick",
        "options": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 0],
      "webhookId": "receptionist",
      "typeVersion": 2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "unified-whatsapp-webhook",
        "options": {}
      },
      "id": "whatsapp-webhook",
      "name": "WhatsApp Webhook (Evolution API)",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 208],
      "webhookId": "unified-whatsapp-webhook",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 3, "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [{
            "id": "telegram-chat-id-filter",
            "operator": { "type": "string", "operation": "equals" },
            "leftValue": "={{ $json.message.chat.id }}",
            "rightValue": "={{$vars.TELEGRAM_CHAT_ID}}"
          }]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "telegram-filter",
      "name": "Filter: Telegram Chat ID",
      "type": "n8n-nodes-base.filter",
      "position": [240, 0],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 3, "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "wa-phone-filter",
              "operator": { "type": "string", "operation": "equals" },
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "={{$vars.WHATSAPP_PHONE}}@s.whatsapp.net"
            },
            {
              "id": "wa-not-from-me",
              "operator": { "type": "boolean", "operation": "false", "singleValue": true },
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "whatsapp-filter",
      "name": "Filter: WhatsApp Phone",
      "type": "n8n-nodes-base.filter",
      "position": [240, 208],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "operator": { "type": "string", "operation": "exists", "singleValue": true }, "leftValue": "={{ $json.message.text }}", "rightValue": "", "id": "fc5cdd67-cfb9-4adb-bbee-2544dacdadc3" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "operator": { "type": "object", "operation": "exists", "singleValue": true }, "leftValue": "={{ $json.message.voice }}", "rightValue": "", "id": "72160bb3-58ed-418e-8109-755ea4cfafc7" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "operator": { "type": "array", "operation": "exists", "singleValue": true }, "leftValue": "={{ $json.message.photo }}", "rightValue": "", "id": "ded0b265-6d22-4f88-b1ba-93a68f50331a" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "operator": { "type": "object", "operation": "exists", "singleValue": true }, "leftValue": "={{ $json.message.document }}", "rightValue": "", "id": "ed3f7ee9-fee2-46a1-9170-4c4fc4a9e6eb" }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "telegram-media-router",
      "name": "Telegram: Route Media Type",
      "type": "n8n-nodes-base.switch",
      "position": [480, 0],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').first().json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "tg-get-voice",
      "name": "TG: Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [720, -240],
      "typeVersion": 1.2,
      "webhookId": "8d69e8f6-da47-4f17-a887-070722544dcb",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": { "__rl": true, "mode": "list", "value": "models/gemini-2.5-flash" },
        "inputType": "binary",
        "options": {}
      },
      "id": "tg-transcribe-voice",
      "name": "TG: Transcribe Voice (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [960, -240],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google AI"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').first().json.message.photo.pop().file_id }}",
        "additionalFields": {}
      },
      "id": "tg-get-photo",
      "name": "TG: Get Photo File",
      "type": "n8n-nodes-base.telegram",
      "position": [720, -80],
      "typeVersion": 1.2,
      "webhookId": "08d18b6b-eff8-404a-98eb-1c9788cddc1d",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": { "__rl": true, "mode": "list", "value": "models/gemini-2.5-flash" },
        "inputType": "binary",
        "options": {}
      },
      "id": "tg-analyze-photo",
      "name": "TG: Analyze Photo (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [960, -80],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google AI"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').first().json.message.document.file_id }}",
        "additionalFields": {}
      },
      "id": "tg-get-doc",
      "name": "TG: Get Document File",
      "type": "n8n-nodes-base.telegram",
      "position": [720, 80],
      "typeVersion": 1.2,
      "webhookId": "4bc71770-e381-4040-bbef-d3125de7ba54",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": { "__rl": true, "mode": "list", "value": "models/gemini-2.5-flash" },
        "inputType": "binary",
        "options": {}
      },
      "id": "tg-analyze-doc",
      "name": "TG: Analyze Document (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [960, 80],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').first().json.message;\nconst chatId = String(msg.chat.id);\nconst userId = String(msg.from.id);\nconst source = 'telegram';\n\nfunction out(userMessage) {\n  return [{ json: { userMessage, chatId, userId, source } }];\n}\n\ntry { const t = $('TG: Transcribe Voice (Gemini)').first()?.json?.content?.parts?.[0]?.text; if (t) return out('[Voice] ' + t); } catch(e) {}\ntry { const p = $('TG: Analyze Photo (Gemini)').first()?.json?.content?.parts?.[0]?.text; if (p) return out('[Photo] ' + p + (msg.caption ? '\\nCaption: ' + msg.caption : '')); } catch(e) {}\ntry { const d = $('TG: Analyze Document (Gemini)').first()?.json?.content?.parts?.[0]?.text; if (d) return out('[Document: ' + (msg.document?.file_name || 'file') + ']\\n' + d); } catch(e) {}\nreturn out(msg.text || '');"
      },
      "id": "tg-normalize",
      "name": "TG: Normalize Message",
      "type": "n8n-nodes-base.code",
      "position": [1200, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const body = $('WhatsApp Webhook (Evolution API)').first().json.body;\nconst msg = body.data;\nconst chatId = msg.key.remoteJid;\nconst userId = msg.key.remoteJid.replace('@s.whatsapp.net', '');\nconst source = 'whatsapp';\nconst text = msg.message?.conversation || msg.message?.extendedTextMessage?.text || '[Media message]';\nreturn [{ json: { userMessage: text, chatId, userId, source } }];"
      },
      "id": "wa-normalize",
      "name": "WA: Normalize Message",
      "type": "n8n-nodes-base.code",
      "position": [480, 208],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: data }];",
        "_todo": "TODO: After Merge Channels, wire output through [UNIFIED] Tiered Model Router before Response Router. Currently the router echoes $json.output which will be undefined until the brain call is added here."
      },
      "id": "merge-channels",
      "name": "Merge Channels",
      "type": "n8n-nodes-base.code",
      "position": [1440, 112],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "version": 3, "caseSensitive": true, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "source-tg", "operator": { "type": "string", "operation": "equals" }, "leftValue": "={{ $json.source }}", "rightValue": "telegram" }]
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": { "version": 3, "caseSensitive": true, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "source-wa", "operator": { "type": "string", "operation": "equals" }, "leftValue": "={{ $json.source }}", "rightValue": "whatsapp" }]
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "id": "response-router",
      "name": "Response Router (by source)",
      "type": "n8n-nodes-base.switch",
      "position": [1680, 112],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge Channels').first().json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "reply-telegram",
      "name": "Reply: Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [1920, 0],
      "typeVersion": 1.2,
      "webhookId": "258771e2-7158-4249-b61d-60160dec4213",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{$vars.EVOLUTION_INSTANCE_NAME}}",
        "remoteJid": "={{ $('Merge Channels').first().json.chatId }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "id": "reply-whatsapp",
      "name": "Reply: WhatsApp (Evolution API)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [1920, 208],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "REPLACE_WITH_YOUR_EVOLUTION_CREDENTIAL_ID",
          "name": "Evolution API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Filter: Telegram Chat ID", "type": "main", "index": 0 }]] },
    "WhatsApp Webhook (Evolution API)": { "main": [[{ "node": "Filter: WhatsApp Phone", "type": "main", "index": 0 }]] },
    "Filter: Telegram Chat ID": { "main": [[{ "node": "Telegram: Route Media Type", "type": "main", "index": 0 }]] },
    "Filter: WhatsApp Phone": { "main": [[{ "node": "WA: Normalize Message", "type": "main", "index": 0 }]] },
    "Telegram: Route Media Type": {
      "main": [
        [{ "node": "TG: Normalize Message", "type": "main", "index": 0 }],
        [{ "node": "TG: Get Voice File", "type": "main", "index": 0 }],
        [{ "node": "TG: Get Photo File", "type": "main", "index": 0 }],
        [{ "node": "TG: Get Document File", "type": "main", "index": 0 }]
      ]
    },
    "TG: Get Voice File": { "main": [[{ "node": "TG: Transcribe Voice (Gemini)", "type": "main", "index": 0 }]] },
    "TG: Transcribe Voice (Gemini)": { "main": [[{ "node": "TG: Normalize Message", "type": "main", "index": 0 }]] },
    "TG: Get Photo File": { "main": [[{ "node": "TG: Analyze Photo (Gemini)", "type": "main", "index": 0 }]] },
    "TG: Analyze Photo (Gemini)": { "main": [[{ "node": "TG: Normalize Message", "type": "main", "index": 0 }]] },
    "TG: Get Document File": { "main": [[{ "node": "TG: Analyze Document (Gemini)", "type": "main", "index": 0 }]] },
    "TG: Analyze Document (Gemini)": { "main": [[{ "node": "TG: Normalize Message", "type": "main", "index": 0 }]] },
    "TG: Normalize Message": { "main": [[{ "node": "Merge Channels", "type": "main", "index": 0 }]] },
    "WA: Normalize Message": { "main": [[{ "node": "Merge Channels", "type": "main", "index": 0 }]] },
    "Merge Channels": { "main": [[{ "node": "Response Router (by source)", "type": "main", "index": 0 }]] },
    "Response Router (by source)": {
      "main": [
        [{ "node": "Reply: Telegram", "type": "main", "index": 0 }],
        [{ "node": "Reply: WhatsApp (Evolution API)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "1b9780f2-c735-48ff-8200-20af185cd216",
  "meta": {
    "instanceId": "4129a2a663876e613bd75839d3e31dd4ef21806990948d46f700b4024dd9bb6d"
  },
  "id": "ZGqlOK7GdVa4oNiF",
  "tags": []
}
