workflows/unified/tiered-model-router.json
{
  "name": "[UNIFIED] Tiered Model Router (Sub-Agent Runner)",
  "_unified_version": "1.1.0",
  "_sync_note": "Synced from live brain LXC 2026-03-24. Adds Window Buffer Memory and Gateway Tools (MCP) nodes present in live instance but missing from v1.0.0. MCP JWT rotated to placeholder — set GATEWAY_MCP_TOKEN env var.",
  "_doc": "Routes incoming tasks to Haiku/Sonnet/Opus based on complexity heuristic. Input: {agent, task, context, complexity}. Output: {result, tier, complexity}. Memory is shared Window Buffer — all three agents share the same session window.",
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "wf-trigger",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [0, 0],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst agent = raw.agent || 'general';\nconst task = raw.task || raw.userMessage || '';\nconst context = raw.context || '';\nconst explicitComplexity = raw.complexity;\n\nlet complexity = explicitComplexity;\nif (!complexity) {\n  if (/strateg|architect|design|plan|reason|analyze|compar|synthesiz|research|investigat|why|how.{0,20}work/i.test(task)) {\n    complexity = 8;\n  } else if (/summar|explain|draft|write|creat|list|find|search|lookup|format|translat/i.test(task)) {\n    complexity = 5;\n  } else {\n    complexity = 3;\n  }\n}\ncomplexity = Math.max(1, Math.min(10, Number(complexity)));\n\nconst tier = complexity <= 3 ? 'haiku' : complexity <= 7 ? 'sonnet' : 'opus';\nconst model = {\n  haiku: 'anthropic/claude-haiku-4.5',\n  sonnet: 'anthropic/claude-sonnet-4.5',\n  opus: 'anthropic/claude-opus-4-5'\n}[tier];\n\nconst systemPrompt = `You are a specialized ${agent} agent. Be direct, thorough, and precise. Respond in the same language as the task.\n\nContext from the user's conversation:\n${context}`;\n\nreturn [{ json: { agent, task, context, complexity, tier, model, systemPrompt } }];"
      },
      "id": "complexity-router",
      "name": "Complexity Router",
      "type": "n8n-nodes-base.code",
      "position": [240, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "version": 3, "caseSensitive": true, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "tier-haiku", "operator": { "type": "string", "operation": "equals" }, "leftValue": "={{ $json.tier }}", "rightValue": "haiku" }]
              },
              "renameOutput": true,
              "outputKey": "haiku"
            },
            {
              "conditions": {
                "options": { "version": 3, "caseSensitive": true, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "tier-sonnet", "operator": { "type": "string", "operation": "equals" }, "leftValue": "={{ $json.tier }}", "rightValue": "sonnet" }]
              },
              "renameOutput": true,
              "outputKey": "sonnet"
            },
            {
              "conditions": {
                "options": { "version": 3, "caseSensitive": true, "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [{ "id": "tier-opus", "operator": { "type": "string", "operation": "equals" }, "leftValue": "={{ $json.tier }}", "rightValue": "opus" }]
              },
              "renameOutput": true,
              "outputKey": "opus"
            }
          ]
        },
        "options": {}
      },
      "id": "tier-switch",
      "name": "Tier Switch",
      "type": "n8n-nodes-base.switch",
      "position": [480, 0],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Complexity Router').first().json.task }}",
        "options": {
          "systemMessage": "={{ $('Complexity Router').first().json.systemPrompt }}",
          "maxIterations": 5
        }
      },
      "id": "agent-haiku",
      "name": "Worker Agent 1 (Haiku)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [720, -160],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": { "maxTokens": 2048, "temperature": 0.5 }
      },
      "id": "llm-haiku",
      "name": "LLM: Claude Haiku (OpenRouter)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [720, -320],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "A5zblswmipMC8LaE",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Complexity Router').first().json.task }}",
        "options": {
          "systemMessage": "={{ $('Complexity Router').first().json.systemPrompt }}",
          "maxIterations": 8
        }
      },
      "id": "agent-sonnet",
      "name": "Worker Agent 2 (Sonnet)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [720, 0],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": { "maxTokens": 4096, "temperature": 0.7 }
      },
      "id": "llm-sonnet",
      "name": "LLM: Claude Sonnet (OpenRouter)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [720, -160],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "A5zblswmipMC8LaE",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Complexity Router').first().json.task }}",
        "options": {
          "systemMessage": "={{ $('Complexity Router').first().json.systemPrompt }}",
          "maxIterations": 10
        }
      },
      "id": "agent-opus",
      "name": "Worker Agent 3 (Opus)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [720, 160],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-5",
        "options": { "maxTokens": 8192, "temperature": 0.7 }
      },
      "id": "llm-opus",
      "name": "LLM: Claude Opus (OpenRouter)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [720, 0],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "A5zblswmipMC8LaE",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "description": "Search the web. Input: query string.",
        "jsCode": "let q; try { q = JSON.parse(query).q || query; } catch(e) { q = query; }\nconst r = await helpers.httpRequest({ method:'GET', url:`http://searxng:8080/search?q=${encodeURIComponent(q)}&format=json`, headers:{Accept:'application/json'} });\nreturn (r.results||[]).slice(0,5).map(x=>`${x.title}\\n${x.url}\\n${x.content||''}`).join('\\n\\n') || 'No results.';"
      },
      "id": "tool-web-search-haiku",
      "name": "Web Search (Haiku)",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [960, -320],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "description": "Search the web. Input: query string.",
        "jsCode": "let q; try { q = JSON.parse(query).q || query; } catch(e) { q = query; }\nconst r = await helpers.httpRequest({ method:'GET', url:`http://searxng:8080/search?q=${encodeURIComponent(q)}&format=json`, headers:{Accept:'application/json'} });\nreturn (r.results||[]).slice(0,5).map(x=>`${x.title}\\n${x.url}\\n${x.content||''}`).join('\\n\\n') || 'No results.';"
      },
      "id": "tool-web-search-sonnet",
      "name": "Web Search (Sonnet)",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [960, -160],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "description": "Search the web. Input: query string.",
        "jsCode": "let q; try { q = JSON.parse(query).q || query; } catch(e) { q = query; }\nconst r = await helpers.httpRequest({ method:'GET', url:`http://searxng:8080/search?q=${encodeURIComponent(q)}&format=json`, headers:{Accept:'application/json'} });\nreturn (r.results||[]).slice(0,5).map(x=>`${x.title}\\n${x.url}\\n${x.content||''}`).join('\\n\\n') || 'No results.';"
      },
      "id": "tool-web-search-opus",
      "name": "Web Search (Opus)",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [960, 0],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const haiku = (() => { try { return $('Worker Agent 1 (Haiku)').first()?.json?.output; } catch(e) { return null; } })();\nconst sonnet = (() => { try { return $('Worker Agent 2 (Sonnet)').first()?.json?.output; } catch(e) { return null; } })();\nconst opus = (() => { try { return $('Worker Agent 3 (Opus)').first()?.json?.output; } catch(e) { return null; } })();\nconst result = opus || sonnet || haiku || 'No output produced.';\nconst tier = $('Complexity Router').first().json.tier;\nconst complexity = $('Complexity Router').first().json.complexity;\nreturn [{ json: { output: result, result, tier, complexity } }];"
      },
      "_fix_note": "Added output: result alias so callers referencing $json.output (multi-channel-router reply nodes) work without remapping.",
      "id": "collect-result",
      "name": "Collect Result",
      "type": "n8n-nodes-base.code",
      "position": [1200, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://gateway.lab.threatresearcher.net/rest/mcp/sse",
        "headerName": "Authorization",
        "headerValue": "Bearer {{ $env.GATEWAY_MCP_TOKEN }}",
        "authentication": "header",
        "_security_note": "JWT rotated. Store new token as GATEWAY_MCP_TOKEN in /opt/n8n.env on the brain LXC. Revoke old token in gateway n8n Settings > API."
      },
      "id": "mcp-tool-gateway",
      "name": "Gateway Tools (MCP)",
      "type": "@n8n/n8n-nodes-langchain.toolMcp",
      "position": [960, 208],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "memory-window-buffer",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryWindowBuffer",
      "position": [960, -496],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Trigger": { "main": [[{ "node": "Complexity Router", "type": "main", "index": 0 }]] },
    "Complexity Router": { "main": [[{ "node": "Tier Switch", "type": "main", "index": 0 }]] },
    "Tier Switch": {
      "main": [
        [{ "node": "Worker Agent 1 (Haiku)", "type": "main", "index": 0 }],
        [{ "node": "Worker Agent 2 (Sonnet)", "type": "main", "index": 0 }],
        [{ "node": "Worker Agent 3 (Opus)", "type": "main", "index": 0 }]
      ]
    },
    "LLM: Claude Haiku (OpenRouter)": { "ai_languageModel": [[{ "node": "Worker Agent 1 (Haiku)", "type": "ai_languageModel", "index": 0 }]] },
    "LLM: Claude Sonnet (OpenRouter)": { "ai_languageModel": [[{ "node": "Worker Agent 2 (Sonnet)", "type": "ai_languageModel", "index": 0 }]] },
    "LLM: Claude Opus (OpenRouter)": { "ai_languageModel": [[{ "node": "Worker Agent 3 (Opus)", "type": "ai_languageModel", "index": 0 }]] },
    "Web Search (Haiku)": { "ai_tool": [[{ "node": "Worker Agent 1 (Haiku)", "type": "ai_tool", "index": 0 }]] },
    "Web Search (Sonnet)": { "ai_tool": [[{ "node": "Worker Agent 2 (Sonnet)", "type": "ai_tool", "index": 0 }]] },
    "Web Search (Opus)": { "ai_tool": [[{ "node": "Worker Agent 3 (Opus)", "type": "ai_tool", "index": 0 }]] },
    "Gateway Tools (MCP)": {
      "ai_tool": [
        [{ "node": "Worker Agent 1 (Haiku)", "type": "ai_tool", "index": 0 }],
        [{ "node": "Worker Agent 2 (Sonnet)", "type": "ai_tool", "index": 0 }],
        [{ "node": "Worker Agent 3 (Opus)", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [{ "node": "Worker Agent 1 (Haiku)", "type": "ai_memory", "index": 0 }],
        [{ "node": "Worker Agent 2 (Sonnet)", "type": "ai_memory", "index": 0 }],
        [{ "node": "Worker Agent 3 (Opus)", "type": "ai_memory", "index": 0 }]
      ]
    },
    "Worker Agent 1 (Haiku)": { "main": [[{ "node": "Collect Result", "type": "main", "index": 0 }]] },
    "Worker Agent 2 (Sonnet)": { "main": [[{ "node": "Collect Result", "type": "main", "index": 0 }]] },
    "Worker Agent 3 (Opus)": { "main": [[{ "node": "Collect Result", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "4f837384-9738-4358-87ea-905ea4ab307c",
  "meta": {
    "instanceId": "4129a2a663876e613bd75839d3e31dd4ef21806990948d46f700b4024dd9bb6d"
  },
  "id": "H07B6Xs3yeStm7vJ",
  "tags": ["unified", "tiered-model", "sub-agent"]
}
